<% content_for(:html_title) { @season.league.name } %>

<div class="container">
  <div class="season-actions">
    <%= link_to league_path(@season.league), class: 'btn btn-outline-secondary btn-block-xs mr-4' do %>
      <i class="fas fa-angle-left"></i> Back to League
    <% end %>
    <% if policy(@season).user_is_admin?(@season.league) %>

      <%= @season.complete_or_uncomplete_buttons %>
      <%= button_to "Delete Season", season_path(@season), data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger mr-2 btn-block-xs', method: :delete %>
      <div class="count-buttons btn-group-block-xs mr-4">
        <label class="btn-group-label text-center">Count in Overall Standings</label>
        <div class="btn-group" role="group">
          <%= link_to "On", count_season_path(@season), method: :post, id: 'on-button', class: "btn btn-outline-secondary btn-block-xs #{@season.counted_class}" %>
          <%= link_to "Off", uncount_season_path(@season), method: :post, id: 'off-button', class: "btn btn-outline-secondary btn-block-xs #{@season.uncounted_class}" %>
        </div>
      </div>
      <%= link_to 'Schedule Game', new_game_path(game: { season_id:  @season.id }), class: 'btn btn-outline-secondary btn-block-xs mr-2' %>
    <% end %>
  </div>
  <div class="season-show__info mt-4">
    <div class="league-show__name">
      <h2><%= @season.league_name %></h2>
      <div class="league-show__location text-dark">
        <%= @season.league_location %>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-8">
        <div class="season-show__overview-stats">
          <h4>Season Overview</h4>
          <small class="text-muted">Season #<%= @season.number_in_order %> of #<%= @season.total_season_count %></small>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <b>Games: </b> <%= @season.games_count %><br />
              <b>Total Money: </b> <%= @season.total_moneys %><br />
              <% if @season.leader %>
                <b>Points Leader: </b> <%= @season.leader_full_name %><br />
              <% end %>
            </div>
            <div class="col-md-6">
              <b>Start Date: </b><%= @season.start_date %><br />
              <b>End Date: </b><%= @season.end_date %><br />
              <b>Games Counted for Playoffs: </b><%= @season.counted_games_percentage %>
              <!--// <b>Cash Leader: </b>Michael Cassano - $193 //-->
            </div>
          </div>
        </div>
        <div class="season-show__overview-standings mt-4">
          <%= render partial: 'shared/standings_table', locals: { net_earnings: @season.net_earnings? } %>
        </div>
        <div class="league-show__overview-games mt-4">
          <%= render partial: 'shared/games_table', locals: { games: @season.games_in_reverse_date_order(12) } %>
        </div>
      </div>
      <aside class="col-lg-4">
        <div class="season-show__game-results">
          <h4>Last Game Results</h4>
          <hr>
          <%= @season.last_completed_game_partial %>
        </div>
        <div class="season-show__next-scheduled-game mt-4">
          <h4>Next Scheduled Game</h4>
          <hr>
          <div class="season-show__next-scheduled-game-main">
            <%= render partial: 'shared/games/next_scheduled_game', locals: { game: @season.next_scheduled_game } %>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
