<tr class="league-show__seasons-table <%= season.active_season_class %>" data-link="<%= season_path(season) %>">
  <td><%= season.number_in_order %></td>
  <td><%= ["Mark", "Mike", "Tyler", "Marshall"].shuffle.pop %></td>
  <td>September 1, 2019</td>
  <td>N/A</td>
  <td><%= [24, 29, 67].shuffle.pop %></td>
</tr>
