<div class="container devise-form">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        Forgot your password?
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
        
          <div class="field form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>
          
          <div class="actions">
            <%= f.submit "Reset password", class: 'btn btn-dark btn-block' %>
          </div>
        <% end %>
        
        <div class="devise-links">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>