<%= link_to league_path(league), class: "list-group-item list-group-item-action league-info" do %>
  <div class="league-info">
    <div class="league-location">
      <small class="text-muted"><%= league.location %> | <%= league.public_text %></small>
    </div>
    <%= league.name %>
    <div class="league-stats">
      <small class="text-muted">
        Game: <%= league.games_count %> | Next Game: <%= league.next_scheduled_game_date %> | Average Pot: <%= league.average_pot %>
      </small>
    </div>
  </div>
  <div class="user-role">
    <small><%= league.admin_text %></small>
  </div>
<% end %>
