<h4>Standings</h4>
<table class="table table-striped table-responsive-md" width="100%">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="full-width-cell">Player</th>
      <% if net_earnings %>
        <th scope="col">Net Earnings</th>
      <% end %>
      <% unless net_earnings %>
        <th scope="col">Points</th>
      <% end %>
      <th scope="col">Games</th>
    </tr>
  </thead>
  <tbody>
    <% if @standings.nil? || @standings.empty? %>
      <tr>
        <td colspan="99">
          No games available for standings just yet.
        </td>
      </tr>
    <% else %>
      <% @standings.each_with_index do |standing, index| %>
        <tr class="standing <%= standing.place_class(index) %>">
          <th scope="row"><%= standing.place(index) %></th>
          <td><%= link_to standing.user_display_name(current_user), user_stats_path(standing.user_id) %></td>
          <% if net_earnings %>
            <td><%= standing.payout_by_season(@season) %></td>
          <% end %>
          <% if standing.respond_to?(:cumulative_score) %>
            <td><%= number_with_precision(standing.cumulative_score, precision: 3) %></td>
          <% end %>
          <td><%= standing.total_games_played_by_object(@league || @season) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>