<% if policy(@game).create? %>
    <div>
      <h4>Add player to game</h4>
      <%= form_for @player do |f| %>
        <%= f.hidden_field :game_id, value: @player.game_id %>
        <%= f.select :user_id, @game.available_players, { prompt: 'Choose a Player' }, class: 'form-control mb-1', id: 'player-select' %>
        <div class="form-group">
          <%= f.label :additional_expense, 'Rebuy or Add-on' %>
          <%= f.text_field :additional_expense, value: '', placeholder: 'rebuy or add-on', class: 'form-control' %>
        </div>
        <%= f.submit 'Finish player', class: 'btn btn-sm btn-outline-secondary' %>
        <%= f.submit 'Add Rebuy or Add-on Only', class: 'btn btn-sm btn-outline-secondary' %>
      <% end %>
      <div class="devise-links">
        <%= link_to 'Add new player', new_user_game_path(@game) %>
      </div>
    </div>
<% end %>
