<tr class="game-standing">
  <% if @game.not_completed? && policy(@game).create? %>
    <td class="up-down-button">
      <%= button_to player_path(player, commit: 'move up'), class: 'btn move-up-standing', method: :patch, disabled: player_counter.zero? do %>
        <i class="fas fa-angle-up"></i>
      <% end %>
      <%= button_to player_path(player, commit: 'move down'), class: 'btn move-down-standing', method: :patch, disabled: player == @game.finished_players.last do %>
        <i class="fas fa-angle-down"></i>
      <% end %>
      <%= button_to player_path(player, commit: player.additional_expense_commit), class: 'btn delete-button', method: :delete do %>
        <i class="fas fa-times"></i>
      <% end %>
      <%= link_to edit_player_path(player), class: 'btn edit-finished' do %>
        <i class="fas fa-pen"></i>
      <% end %>
    </td>
  <% end %>
  <th scope="row"><%= player.order_in_place(player_counter, @game.finished_players.count) %></th>
  <td><%= player.additional_amount_text %></td>
  <% if @game.completed? %>
    <td><%= number_with_precision(player.score, precision: 3) %></td>
  <% end %>
  <td class="grow full-width-cell"><%= player.user_full_name %></td>
</tr>
