<div class="container mb-4">
  <div class="game-actions">
    <%= link_to league_path(@game.season_league), class: 'btn btn-outline-secondary mr-2' do %>
      <i class="fas fa-angle-left"></i> Back to League
    <% end %>
    <%= link_to 'View Season', @game.season, class: 'btn btn-outline-secondary mr-4' %>
    <% if policy(@game).destroy? %>
      <%= button_to 'Delete game', @game, class: 'btn btn-outline-danger mr-2', method: :delete %>
      <%= link_to 'Edit game', edit_game_path(@game), class: 'btn btn-outline-secondary mr-4' %>
    <% end %>
  </div>
  <div class="game-show__info mt-4">
    <div class="league-show__league-name">
      <h2><%= @game.league_name %></h2>
      <div class="league-show__location text-dark">
        <%= @game.league_location %>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-8">
        <div class="game-show__overview-stats">
          <%= render partial: 'overview' %>
        </div>
        <div class="game-show__overview-standings mt-4">
          <%= render partial: 'game_standings' %>
          <%= render partial: 'game_rebuyers' %>
          <%= render partial: 'new_player_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
