<div class="container devise-form">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        Log in
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>

          <div class="field form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control'  %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field form-group form-check">
              <%= f.check_box :remember_me, class: 'form-check-input' %>
              <%= f.label :remember_me, class: 'form-check-label' %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-dark btn-block' %>
          </div>
        <% end %>
        
        <div class="devise-links">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>